body {
	background: white;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

a {
	color: #404040;
	text-decoration: none;
}

a:hover, a:focus {
	color: black;
	text-decoration: none;
}

.calendar-container {
	background: white;
	margin: 0 auto 30px auto;
	width: 65em;
	display: flex;
	flex-wrap: wrap;
}

.day {
	border: 1px solid black;
	width: 9em;
	height: 8em;
	background: white;
}

.out-of-cur-month {
	background: #ebebe0;
}

.prev-arrow {
	position: absolute;
	cursor: default;
	left: -28px;
}

.next-arrow {
	position: absolute;
	cursor: default;
	right: -10px;
}

.top-bar {
	display: flex;
	position: relative;
	color: #404040;
	font-size: 5em;
	width: 840px;
	justify-content: center;
	margin: 0 auto 0 auto;
}

.day-names {
	display: flex;
	width: 65em;
	background: white;
	margin: 10px auto 0 auto;
}

.day-name {
	background: white;
	border: 1px solid black;
	width: 9em;
	text-align: center;
	padding: 3px 0 3px 0;
}

.event {
	color: white;
	margin-top: 2px;
	padding: 2px;
	font-size: 1.22em;
}

.new-event-popup {
	display: flex;
	border: 1px solid black;
	position: absolute;
	background: white;
	padding: 6px;
	width: 30%;
	top: 10%;
	left: 35%;
}

.label {
	padding: 3px;
}

.input-labels {
	width: 130px;
}

.event-inputs {
	border: none;
	margin-top: 5px;
	width: 250px;
	border-bottom: 1px solid gray;	
}

.event-create-btn {
	margin-top: 5px;
	padding: 4px;
}

.event-category {
	margin-top: 5px;
	width: 250px;
	background: white;
}

.event-close-btn {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 3px;
}

.category {
	font-size: 1.4em;
	padding: 3px;
	color: white;
}

.new-category-btn {

}

.delete-event {
	border: 1px solid black;
	position: absolute;
	right: 0;
	z-index: 999;
	background: white;
}

.current-day {
	background: #ffffcc;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}